{extend name="public:base" /}
{block name="js"}
<script>
    $(function () {
        menu_selected('/admin/Group/group_list');
    });
</script>
{/block}
{block name="content"}
<div class="x-body">
    <xblock>
        <span class="layui-btn layui-btn-danger delBut" onclick="del_more()"> <i class="layui-icon"></i>批量删除</span>
        <button class="layui-btn" onclick="window_open('添加组','{:url("group_edit")}',500,600)"><i class="layui-icon"></i>添加</button>
    </xblock>
    <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" style=" ">
        <div class="layui-form">
            <table class="layui-table" lay-even lay-size="lg">
                <thead>
                <tr>
                    <th>
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" id="checkbox_select">
                            <i class="layui-icon"></i>
                        </div>
                    </th>
                    <th>id</th>
                    <th>类型名称</th>
                    <th>排序</th>
                    <th>添加时间</th>
                    <th>修改时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr>
                    <td>
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id="{$vo.group_id}">
                            <i class="layui-icon"></i>
                        </div>
                    </td>
                    <td>{$vo.group_id}</td>
                    <td>{$vo.group_name}</td>
                    <td><input class=" ctrlInput" value="{$vo.sort}" style="width: 50px;text-align: center;" onchange="sort(this,'{$vo.group_id}')"></td>
                    <td>
                        <div class="layui-table-cell laytable-cell-1-creatTime">{$vo.create_time}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell laytable-cell-1-creatTime">{$vo.update_time}</div>
                    </td>
                    <td>
                        <div class="layui-table-cell laytable-cell-1-sign">
                            <a lay-event="edite" href="javascript:;" title="编辑"  onclick="window_open('组编辑','{:url("group_edit",["id"=>$vo.group_id])}',500,600)">
                            <i class="layui-icon"></i>
                            </a>
                            <a lay-event="del" class="del" href="javascript:;" title="删除" onclick="del({$vo.group_id})">
                                <i class="layui-icon"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
    {$page}
</div>
{/block}
